.loader{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border:20px solid #FFE66D;
    border-top: 20px solid #4ECDC4;
   /* background-color: palevioletred;*/
    animation: spinanimate 3s ease-in 0s infinite normal;
}
@keyframes spinanimate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}